RD AD editorial comments 

Despite fixes in #357 , Roman asks:

[Roman's comments on -13]

-- Section 4.1.  In the definition of relying party, what does the sentence fragment "Compare /relying party/ in [RFC4949]" mean?
-- Section 4.2.  Per the definition of "Claim", what does "Compare /claim/ in [RFC7519]" mean?
-- Section 4.2.  Per the definition of "Appraisal Policy for Attestation Results", what does "Compare /security policy/ in [RFC4949]" mean?

I continue to hold the position that this language "Compare /xxx/ in RFC####" is not clear.  In the natural language sense, that phrase doesn't parse.  If the semantics are being taken from Section 2.6 of RFC4949, please explain that. However, it seems confusing to explicitly be listing antonyms (which RF4949 suggests is the meaning of the "Compare" notation).  In the case of a claim, is it an antonym -- isn't a claim here in fact similar to the one in Section 2 of RFC7519?




````
[2.6](https://www.rfc-editor.org/rfc/rfc4949.html#section-2.6). Cross-References

   Some entries contain a parenthetical remark of the form "(See: X.)",
   where X is a list of other, related terms. Some entries contain a
   remark of the form "(Compare: X)", where X is a list of terms that
   either are antonyms of the entry or differ in some other manner worth
   noting.
````