rats certificates and RFC5280

** Section 12.4.  Is there any read sensitivity for the trust anchor store?

** Section 12.4.  Since RFC5280 is being invoked here, is there an expectation that certificates in RATS would confirm to this profile?


-> "For example, see Section 6 of [RFC5280]"

Discussion ensued about whether there is read sensitivity vs audit requirements,
and whether this is even specific to RATS at all.


RFC6024 https://www.rfc-editor.org/rfc/rfc6024 ?


"As noted in Section 7, Verifiers and Relying Parties have trust anchor stores that must be secured. RFC6024 contains more discussion of trust anchor store requirements."
 